# Rename this file to .env
DISCORD_TOKEN=<YOUR_TOKEN_HERE>
# Use "sqlite+aiosqlite:///volume/db.sqlite3" if you are not sure
DATABASE_CONNECTION_STRING=sqlite+aiosqlite:///volume/db.sqlite3
# Used by old style prefix commands; this bot only has the <PREFIX>sync prefix command
PREFIX=>>
# Maximum file upload size, used by command like /pixiv
MAX_FILE_SIZE=25
# Lavalink parameters, used by the Music module
LAVALINK_IP=localhost 
LAVALINK_PORT=2333
LAVALINK_PASSWORD=youshallnotpass